<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:p="http://www.springframework.org/schema/p" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
	default-lazy-init="true">

	<description>west配置 </description>

	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan
		base-package="org.swc.bestpratise.order,com.bucuoa.west.orm.extend,com.bucuoa.west.orm.core">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<context:property-placeholder location="classpath*:/application.properties" />
	<!-- <import resource="spring-config-datasource-shard.xml" /> -->

	<bean id="baseDataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />

		<property name="validationQuery" value="SELECT 1"></property>
		<property name="testOnReturn" value="false"></property>
		<property name="testWhileIdle" value="false"></property>

		<property name="testOnBorrow" value="true" />
		<property name="maxActive" value="${jdbc.pool.maxActive}" />
		<property name="maxIdle" value="${jdbc.pool.maxIdle}" />
		<property name="minIdle" value="0" />
		<property name="defaultAutoCommit" value="false" />
	</bean>

	<bean id="dataSourceMaster0" parent="baseDataSource">
		<property name="name" value="dataSourceMaster0" />
		<property name="url" value="${jdbc.url_0}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="dataSourceMaster1" parent="baseDataSource">
		<property name="name" value="dataSourceMaster1" />
		<property name="url" value="${jdbc.url_1}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="dynamicDataSource" class="com.bucuoa.west.orm.shard.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="master0" value-ref="dataSourceMaster0" />
				<entry key="master1" value-ref="dataSourceMaster1" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="dataSourceMaster0" />
		<property name="redSeed" value="2" />
		<property name="writeSeed" value="1" />
	</bean>


	<bean id="sessionFactory" class="com.bucuoa.west.orm.core.SessionFactory">
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>

	<bean id="excetueManager" class="com.bucuoa.west.orm.core.ExecuteManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->

	<!-- enable transaction annotation support <bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource" /> </bean> <tx:annotation-driven 
		transaction-manager="transactionManager" /> -->

	<!---->
	<bean id="sequenceUtil" class="org.swc.bestpratise.order.service.SequenceUtil">
		<property name="defaultSequence">
			<bean class="org.swc.bestpratise.order.service.Sequence">
				<property name="dataSource" ref="dataSourceMaster0" />
				<property name="blockSize" value="30" />
				<property name="startValue" value="1" />
			</bean>
		</property>
	</bean>


</beans>